{% load static %}

<!DOCTYPE html>
<html>

<!-- Head -->
<head>

    <title>修改密码</title>

    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}" type="text/css" media="all">
    <style type="text/css">
        .btnform
        {
            text-align: center;
        }
        a
        {
            width: 60px;
        }
    </style>
</head>
<!-- //Head -->

<!-- Body -->
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <h1 class="navbar-brand">修改密码： <small>{{ request.session.username }}</small></h1>
        </div>
    </div>
</nav>
<br/><br/><br/><br/><br/><br/><br/><br/>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
            <div class="card">
                <div class="card-block">
                    <form method="post" class="form-horizontal form-material">
                        <div class="form-group">
                            <label class="col-md-12">旧密码</label>
                            <div class="col-md-12">
                                <input id="password1" type="password" placeholder="" value="" class="form-control form-control-line">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">新密码</label>
                            <div class="col-md-12">
                                <input id="password2" type="password" placeholder="" value="" class="form-control form-control-line">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">确认密码</label>
                            <div class="col-md-12">
                                <input id="password3" type="password" placeholder="" value="" class="form-control form-control-line">
                            </div>
                        </div>
                        <br/>
                        <div class="form-group">
                            <div class="btnform">
                                <a id="update_user" href="javascript:;" class="btn btn-success">提交</a>
                                &nbsp; &nbsp;
                                <a href="/home" class="btn btn-default">返回</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="{% static 'bootstrap/jquery/jquery-3.2.1.min.js' %}"></script>
<script>
    $('#update_user').click(function () {
        var password1 = $('#password1').val();
        var password2 = $('#password2').val();
        var password3 = $('#password3').val();
        if(password2 == ''){
            alert('密码不能为空')
            return false
        }
        if(password2.length < 6){
            alert('密码长度不能小于6位')
            return false
        }
        if(password2 != password3){
            alert('确认密码不一致，请重新输入')
            return false;
        }
        var data = {password1:password1,password2:password2}
        $.ajax({
            url: "/update_pwd",
            data: data,
            type: "POST",
            success: function (result) {
                if(result == 1){
                    alert('修改成功');
                    window.location.href = '/login'
                }else if(result == 2){
                    alert('旧密码不正确');
                }else{
                    alert('修改失败');
                }
            }
        })
    })
</script>
</body>
</html>