{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 这3个meta标签需要放在最前面，其他内容都放在它们的后面。 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>脑萎缩系统</title>

    <!-- Bootstrap -->
{#    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">#}
    <link rel="stylesheet" href="{% static "CSS/index.css" %}">
    <link rel="stylesheet" href="{% static "CSS/home_right.css" %}">
    <link rel="stylesheet" href="{% static "CSS/buttons.css" %}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: 如果通过文件查看界面，则Respond.js 就不工作:// -->
    <!--[if lt is IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>-->
    <script src="{% static "bootstrap/jquery/jquery-1.12.4.min.js" %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
</head>
<body bgcolor="black" id="scroll">

<!--header-->